.box {
    display: inline-block;
    background: #3A4042;
    width: 630px;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding-top: 40px;
    margin-top: 116px;
}

.box  .title {
    padding-bottom: 28px;
}

.box  .subtitle {
    padding-right: 45px;
    padding-left: 45px;
    
    padding-bottom: 42px;

}