.box {
    display: inline-block;
    background-color: transparent;
    width: 630px;
    border: 10px solid #FFF;
    box-shadow: 5px 5px 0 #000;
    border-radius: 50px;
    text-align: center;
}

.box  .title {
    padding-top: 40px;
    padding-bottom: 28px;
}

.box  .subtitle {
    padding-right: 45px;
    padding-left: 45px;
    
    padding-bottom: 42px;

}

