.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/assets/img/2049\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #000;
    padding: 10px 20px;

}